/* base styles */

A { color: #050565; }

/* TABLE styles */

TABLE.style1 TD.title { background: #fbd7a6 url("../img/bg_tabs.gif") repeat-y right; }

/* header */

#editProfile A { background: #f38b52 url("../img/bg_button.gif") no-repeat top right; }
#time { color: #7c2a00; }
#time A { color: #ea5305; }

/* main nav */

#nav A.on { background: #f38b52 url("../img/bg_reflection_2.gif") repeat-x top; color: #000; }
#nav A.on:hover { color: #000; }

/* global column on the right */

#globalColumnSpan { border: 1px solid #f08b61; background: #f38b52 url("../img/bg_reflection_3.gif") repeat-x top; }
p#hideColumn A { background: url("../img/b_close_col.gif") no-repeat top left; }

/* global column - calendar */

#calendar { background: #fff url("../img/bg_calendar.gif") repeat-x bottom; }
#calendar tr.month TH { background: #fef8e1; }
#calendar tr.month TH.month { background: #fef8e1 url("../img/bg_calendar_tr.gif") repeat-y center; }
TD#globalColumn #calendar A { color: #ea5305; }

/* global column - messenger */

#messenger { padding-bottom: 11px; background: url("../img/bg_calendar.gif") repeat-x bottom; }
#globalColumn #messenger H2 { background: url("../img/icon_messenger.gif") no-repeat top left; }

/* global column - shortcuts */

#shortcutsList { background: url("../img/bg_shortcuts.gif") repeat-x bottom; }
#globalColumn #shortcuts H2 { background: url("../img/icon_shortcuts.gif") no-repeat top left; }
#shortcuts LI A { border-bottom: 1px solid #f38b52; }
#shortcuts LI A:hover { border: 1px solid #f38b52; }
#shortcutsListSpan { background: #d0652a; }

/* shortcuts global version */

.shortcuts { background: #d0652a; }
.shortcuts LI A { border-bottom: 1px solid #f6ac83; color: #fff; }
.shortcuts LI A:hover { border: 1px solid #f6ac83; }
.shortcuts LI.readMore A { border: 1px solid #f6ac83; }
.shortcuts LI.on A { border: 1px solid #f38b52; }
.shortcuts LI UL { border-left: 1px solid #f6ac83; border-right: 1px solid #f6ac83; background: #f38b52; }
.shortcuts LI.on UL LI A { border-bottom: 1px solid #f6ac83; }
.shortcuts LI.on UL LI A:hover { border-bottom: 1px solid #f6ac83; }

/* global column - search */

#globalColumn .search H2 { background: url("../img/icon_search.gif") no-repeat top left; }
#globalColumn .search input.text { border: 1px solid #cfa86d; }

/* block style */

.block { border: 1px solid #f08b61; overflow: hidden; }
* HTML .block { height: 1px; overflow: visible; }
.blockHeader H2 { background: #ef7e4b url("../img/bg_block_header.gif") repeat-x top; color: #fff; }
.blockHeader A { color: #fff; }
.blockHeaderSimple H2 { background: #ef7e4b url("../img/bg_block_header.gif") repeat-x top; color: #fff; }
.blockHeaderSimple A { color: #fff; }
.tabs { background: #fbd7a6 url("../img/bg_tabs.gif") repeat-y right; }
.tabs LI A { border-top: 1px solid #f38b52; border-left: 1px solid #f38b52; border-right: 1px solid #f38b52; background: #f19364; color: #fff; }
.tabs LI.on A { background: #ffefdd url("../img/bg_reflection_2.gif") repeat-x top; color: #ea5305; }
.buttons LI A { border: 1px solid #000; background: #4894d0 url("../img/bg_reflection_2.gif") repeat-x top; color: #000; }
.actions { background: #ffe7ca url("../img/bg_actions.gif") repeat-y center; }

/* From modera intranet */

.pad1 { padding: 2px; }
.w100p { width: 100%; }
TABLE.calendar { width: 100%; border: none; border-collapse: collapse; border-bottom: 1px solid #d4d4d4; }
TABLE.calendar TD { vertical-align: top; font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; width: 20px; background: url('../img/bg10.gif') left top; padding: 0px; }
TABLE.calendar TD.time { white-space: nowrap; padding: 0px 10px; width: 20px; color: #534968; height: 32px; line-height: 16px; background: url('../img/bg12.gif') left top; }
TABLE.calendar TD.events { width: auto; padding: 0px; }
TABLE.event { margin-left: 4px; cursor: pointer; border: none; width: 100%; border-collapse: collapse; }
TABLE.event TD { vertical-align: middle !important; padding: 0px !important; padding: 1px 5px !important; width: auto; }
.priority-important { background: #ffd2d2 !important; color: #BC0000; }
.priority-low { background: #F0F0F0 !important; color: #8F8F8F; }
.priority-normal { background: #dcf0ff !important; color: #534968; }
.private { background-image: url('../img/bg11.gif') !important; }
DIV.legend IMG { vertical-align: middle; width: 20px; height: 12px; margin: 5px; border: 1px solid #fef8e1; }
TABLE.calendar-month { width: 100%; border-collapse: collapse; }
TABLE.calendar-month TD { padding: 1px; border: 1px solid #ffc177; width: 16%; text-align: left; vertical-align: top; height: 35px; }
TABLE.calendar-month TD A.add { float: right; padding: 2px; }
TABLE.calendar-month TD DIV.date { background: #ffc177; color: #ea5305; font-weight: bold; padding: 2px 5px; }
TABLE.calendar-month TD DIV.date-newmonth { background: #F2F2F2; color: #BEBEBE; font-weight: bold; padding: 2px 5px; }
TABLE.calendar-month TD DIV.event { line-height: 0px; font-size: 1px; height: 15px; margin: 3px 0px; cursor: pointer; }
DIV.eventname { color: #aaa; font-size: 10px; width: 100%; overflow: hidden; text-overflow: ellipsis; padding: 3px 0 1px 0; }
DIV.eventname A { color: #aaa; }

DIV.alphabet A:hover { background: #8f5009; }
DIV.alphabet A.active { background: #8f5009; }

DIV.companyselect { border: 1px solid #f08b61; background: #f38b52 url("../img/bg_reflection_3.gif") repeat-x top; padding: 9px 5px; margin: 0 0 10px 0; }

DIV.draw-content-arrow { background: url(../img/bg02.gif) no-repeat; }
DIV.draw-content DIV.content { border: 1px solid #f08b61; }
DIV.draw-content P.heading { background: #f08b61 url(../img/bg01.gif) repeat-x; color: #fff; border: solid #f08b61; border-width: 1px 1px 0 0; }

#calendar2 DIV.draw { border: 1px solid #f08b61; }
#calendar3-container DIV.draw { border: 1px solid #f08b61; }